:host {
  display: block;
}

cdk-virtual-scroll-viewport {
  height: 500px;
  overflow-y: scroll;
}

table {
  border-collapse:collapse;
  width: 100%;
}

th, td {
  box-sizing: border-box;
  border: 1px solid #888;
}

tr {
  line-height: 25px;
}
