html {
  height: 100%;
  font-family: "Arial", "Noto Sans", sans-serif;

  &, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

table {
  margin: 10px;
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
}
